{% extends 'code_app/base.html' %}
{#{% load extras %}#}
{% load crispy_forms_tags %}
{% block content %}
    <h4 class="border-bottom mb-4">Blog:</h4>
    <div class="form-group">
    <a class="btn btn-outline-info" href="{% url 'post-create' %}">Dodaj wątek</a>
    </div>
    {% for post in posts %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2 btn-outline-info" href="{% url 'user-post' post.author.username %}">{{ post.author }}</a>
                    <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                </div>
                <div><br>
                <h6 class="article-title"><b>{{ post.title }}</b></h6>
                <p class="article-content">{{ post.content }}</p>
                </div>
{#                <div>#}
{#                    <form action="" method="POST">#}
{#                        {% csrf_token %}#}
{#                        <input type='hidden' name='post_id' value='{{ post.id }}' />#}
{#                        <small class="text-muted">Dodaj komentarz:</small>#}
{#                        <small class="text-muted">{{ create_comment|crispy }}</small>#}
{#                        <button class="btn btn-outline-info" type="submit">Zapisz</button>#}
{#                    </form>#}
{#                    {% if post.comment_set.all %}#}

{#                        {% for comment in post%}#}
{#                       <small class="text-muted">{{ comment.user.username }}: </small>{{ comment.text|truncatechars:10 }}<br>#}
{#                    {% endfor %}#}
{#                    {% else %}#}
{#                        <small class="text-muted">any comments...</small>#}
{#                    {% endif %}#}
{#                </div>#}
            </div>
         <small class="text-muted">Komentarze: ({{ post.comment_set.all.count }})</small><br>
        </article>
    {% endfor %}
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">Pierwsza</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Poprzednia</a>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and  num < page_obj.number|add:'3'%}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Następna</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Ostatnia</a>
        {% endif %}
    {% endif %}
{% endblock content %}