{% extends 'code_app/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <article class="media content-section">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
            <div class="article-metadata">
                <h2 class="account-heading">{{ profile.first_name }} {{ profile.last_name }}</h2>
            </div>
        </div>
     </article>
     <article class="media content-section">
        <div>
         <h4 class="border-bottom mb-4">Dane osobowe:</h4>
         <h6 class="article-content">Imię: {{ profile.first_name  }}</h6>
         <h6 class="article-content">Nazwisko: {{ profile.last_name  }}</h6>
         <h6 class="article-content">Nick: {{ profile.username  }}</h6>
         <h6 class="article-content">E-mail: {{ profile.email  }}</h6>
        </div>

    </article>
    <div class="form-group">
        <a class="btn btn-outline-info" href="{% url 'profile-edit' %}">Edytuj dane</a>
        <a class="btn btn-outline-info" href="#">Zmień hasło</a>
        <a class="btn btn-outline-danger" href="{% url 'user-delete' user.id %}">Skasuj konto</a>
    </div>
{% endblock content %}


