html,body { margin:0; padding:0; height:100%; width:100%;}

#editor {
    height: 100%;
    width:50%;
    display:inline-block;

}

#container {
    height:80%;
    width:auto;
    white-space : nowrap;
    overflow : hidden;
    position: relative;
}

#sylwia {
    height:100%;
    width:50%;
    display:inline-block;
    position: absolute;
    background: #404040;
    color: white;
    text-align: justify;
    padding: 1cm;
}

#lesson {
    height:90%;
    width:50%;
    display:inline-block;
}

.btn-run {
    background: #66ff99;
    width: 90px;
    height: 50px;
    font-weight: bold;
    font-size: medium;
}

.btn-next {
    background: #0099cc;
    width: auto;
    height: 50px;
    font-weight: bold;
    font-size: medium;
}

#wytyczne {
    position: relative;
}

#background-all {
    background: #404040;
}
/* disable tag matching */
.ace_editor .ace_marker-layer .ace_bracket { display: none }

.exercise {
    display: none;
}

.box-alert {
    position: fixed;
    top: 20vh;
    left: 30vw;
    width: 40vw;
    height: 20vh;
    border: 1px solid black;
    z-index: 9999;
    background: gray;

}
.massage-view {
    text-align: center;
}