html,body { margin:0; padding:0; height:100%; width:100%;}

#editor {
    height: 100%;
    width:50%;
    display:inline-block;

}

#container {
    height:80%;
    width:auto;
    white-space : nowrap;
    overflow : hidden;
    position: relative;
}

#lesson {
    height:100%;
    width:50%;
    display:inline-block;
    position: absolute;
    background: #404040;
    color: white;
    text-align: justify;
    padding: 1cm;
    overflow: revert;
}


.btn-run {
    background: #66ff99;
    width: 90px;
    height: 50px;
    font-weight: bold;
    font-size: medium;
}

.btn-next {
    background: #0099cc;
    width: auto;
    height: 50px;
    font-weight: bold;
    font-size: medium;
}

#wytyczne {
    position: relative;
}


/* disable tag matching */
.ace_editor .ace_marker-layer .ace_bracket { display: none }

.exercise {
    display: none;
}

.box-alert {
    position: fixed;
    top: 20vh;
    left: 30vw;
    width: 30vw;
    height: 5vh;
    border: 1px solid white;
    z-index: 9999;
    background: gray;
    padding: 30px;
}


.button-ok {
    display: none;
    text-align: center;
}


/*lllllllllllllllllllllllllllllllllllllllllllll*/

/* The alert message box */
.alarm {
  padding: 20px;
  background-color: #ff9800; /* Red */
  color: white;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-right: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
  height: 20px;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

.communcat {
    text-align: center;
    font-weight: bold;
    font-size: medium;
    color: white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}


.line {
    text-decoration: none;
    color: black;
}

/*.zawijaj {*/
    /*overflow: revert;*/
/*}*/