{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="{% static 'code_app/main.css' %}">

      <title>croCode Line</title>
  </head>
  <body>
      <header class="site-header">
          <!-- Navbar Left Side -->
          <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
              <img class="img-fluid mr-3" src="/media/profile_pics/crocodile.jpg" title="Photo corCode_Line" alt="Crocodile" width="90" height="90"/>
              <ul class="nav nav-pills nav-fill">
                  <li class="nav-item">
                      <strong><a class="navbar-brand mr-5" href="/">croCode Line</a></strong>
                  </li>
              </ul>
          <div class="container">
              <div class="navbar-nav">
              </div>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarToggle">
                  <div class="navbar-nav mr-auto">
                      <strong><a class="nav-item nav-link btn-outline-info" href="{% url 'start-code' %}">Start Code!</a></strong>
                  </div>
              </div>
              <!-- Navbar Right Side -->
              <div class="navbar-nav">
                  {% if user.is_authenticated %}
                      <ul>
                          <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle mr-4" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><strong>Kursy</strong></a>
                              <div class="dropdown-menu">
                                  <a class="dropdown-item" href="{% url 'python-cours' %}">Python</a>
                                  <a class="dropdown-item" href="{% url 'html-cours' %}">HTML</a>
                                  <a class="dropdown-item" href="{% url 'css-cours' %}">CSS</a>
                                  <a class="dropdown-item" href="{% url 'javascript-cours' %}">JavaScript</a>
                                  <a class="dropdown-item" href="{% url 'jquery-cours' %}">JQuery</a>
                                  <div class="dropdown-divider"></div>
                                  <a class="dropdown-item" href="{% url 'courses' %}">Wszystkie kursy</a>
                              </div>
                          </li>
                      </ul>
                      <strong><a class="nav-item nav-link" href="{% url 'chat' %}">Czat</a></strong>
                      <strong><a class="nav-item nav-link" href="{% url 'profile' %}">{{ user.username }}</a></strong>
                      <strong><a class="nav-item nav-link" href="{% url 'logout' %}">Wyjoguj</a></strong>
                  {% else %}
                        <ul>
                            <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle mr-4" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><strong>Kursy</strong></a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'python-cours' %}">Python</a>
                                <a class="dropdown-item" href="{% url 'html-cours' %}">HTML</a>
                                <a class="dropdown-item" href="{% url 'css-cours' %}">CSS</a>
                                <a class="dropdown-item" href="{% url 'javascript-cours' %}">JavaScript</a>
                                <a class="dropdown-item" href="{% url 'jquery-cours' %}">JQuery</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'courses' %}">Wszystkie kursy</a>
                            </div>
                            </li>
                        </ul>
                        <strong><a class="nav-item nav-link" href="{% url 'login' %}">Login</a></strong>
                        <strong><a class="nav-item nav-link" href="{% url 'register' %}">Rejestracja</a></strong>
                {% endif %}
              </div>
          </div>
          </div>
          </nav>
      </header>
      <main role="main" class="container">
          <div class="row">
              <div class="col-md-8">
                  {% if messages  %}
                      {% for message in messages %}
                          <div class="alert alert-{{ message.tags }}">
                              {{ message }}
                          </div>
                      {% endfor %}
                  {% endif %}
              </div>
          </div>
          {% block content %}
              <div class="container">
                  <div class="content-section"><br> {# biała ramka dookoła #}
                      <h2 class="text-center">
                          <strong>Zostań programistą Pythona!</strong>
                      </h2><br>
                      <h5 class="text-center">
                          Poznaj jeden z najpopularniejszych języków programowania. Sam sprawdź prostotę i logikę tego języka!
                      </h5>
                      <p></p>
                      <h6 class="text-center">
                          Podczas kursu nauczysz się zarówno postaw jak i zaawansowanych technik programowania w Pythonie. Dzięki
                          platformie interaktywnej będziesz rozwiązywał setki zadań i testów, korzystając przy tym z obszernych
                          materiałów naukowych.
                      </h6>
                      <p></p>
                      <h5 class="text-center">
                          <strong>Zastanawiasz się czy ten kurs jest właśnie dla Ciebie?</strong>
                      </h5>
                      <p></p>
                      <img class="img-fluid" src="media/profile_pics/cro_code_line.jpg" title="Photo corCode_Line" alt="Crocodile"/>
                      <p></p>
        {#                <h6 class="text-center">#}
        {#                    Program nauczania zawiera wszystkie dostępne biblioteki standardowe Python.#}
        {#                    Na naszym portalu możesz utrwalać swoją wiedzę, rozwiązując zadania na ogólnodostępnej#}
        {#                    platformie wymieniając się doświadczniem z innymi pasjonatami programowania na czacie.#}
        {#                </h6>#}
                        <h6>
                            <a class="nav-item nav-link btn-outline-info text-center" href="{% url 'start-code' %}"><strong>Sprawdź program nauczania i wybierz najbardziej odpowiednią ścieżkę dla siebie...</strong></a>
                        </h6>
        {#                <h6>W ramach kursu poznasz rownież inne techniki programowania, w tym:#}
        {#                  <ul>#}
        {#                    <li>Python</li>#}
        {#                    <li>HTML5</li>#}
        {#                    <li>CSS</li>#}
        {#                    <li>Java Script</li>#}
        {#                    <li>JQuery</li>#}
        {#                  </ul>#}
        {#                </h6>#}
                  </div>
              </div>
        {% endblock %}

{#        <div class="col-md-4">#}
{#          <div class="content-section">#}
{#            <h3>Our Sidebar</h3>#}
{#            <p class='text-muted'>You can put any information here you'd like.#}
{#              <ul class="list-group">#}
{#                <li class="list-group-item list-group-item-light">Latest Posts</li>#}
{#                <li class="list-group-item list-group-item-light">Announcements</li>#}
{#                <li class="list-group-item list-group-item-light">Calendars</li>#}
{#                <li class="list-group-item list-group-item-light">etc</li>#}
{#              </ul>#}
{#            </p>#}
{#          </div>#}
{#        </div>#}
    </main>
{#    <footer>#}
{#        <div class=" footer bg-steel">#}
{##}
{#            <p class="site-header">CHCESZ OTRZYMAĆ SZCZEGÓŁOWY PROGRAM NAUCZANIA?</p>#}
{#            <nav>#}
{#            <small class="mr-5">© 2019 croCode Line</small>#}
{#            <a class="content-sectionmr-3 " href="#">Regulamin</a>#}
{#            <a class="mr-3" href="#">Polityka prywatności</a>#}
{#            </nav>#}
{#              <a class="btn-outline-info" href="#">Python</a> |#}
{#              <a class="btn-outline-info" href="#">HTML</a> |#}
{#              <a class="btn-outline-info" href="#">CSS</a> |#}
{#              <a class="btn-outline-info" href="#">JavaScript</a> |#}
{#              <a class="btn-outline-info" href="#">jQuery</a>#}
{#        </div>#}
{#    </footer>#}

{#       <footer class="footer bg-steel fixed-bottom">#}
{#              <span class="text-muted">CHCESZ OTRZYMAĆ SZCZEGÓŁOWY PROGRAM NAUCZANIA? NAPISZ DO NAS!</span>#}
{#       </footer>#}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>