{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'code_app/main.css' %}">
    <title>Codding</title>
  </head>
  <body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">croCode Line</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link btn-outline-info" href="{% url 'start-code' %}">Start Code!</a>
            </div>
            <!-- Navbar Right Side -->

            <div class="navbar-nav">
                {% if user.is_authenticated %}
                    <a class="nav-item nav-link" href="{% url 'chat' %}">Czat</a>
                    <a class="nav-item nav-link" href="{% url 'profile' %}">{{ user.username }}</a>
                    <a class="nav-item nav-link" href="{% url 'logout' %}">Wyjoguj</a>
                {% else %}
                    <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                    <a class="nav-item nav-link" href="{% url 'register' %}">Rejestracja</a>
                {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
            {% if messages  %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
      </div>
          {% block content %}
              <div class="container">
                  <div class="content-section"> {# biała ramka dookoła #}
                      <div class="row">
                          <div class="col-md-8">
              <h2>Zostań programisą Pythona!</h2><br>
            <h5>Poznaj jeden z najpopularniejszych języków programowania. Sam sprawdź prostotę i logikę tego języka.</h5>
            <p></p>
{#            <h5>Python to łatwy do opanowania, potężny język programowania. Ma wydajne struktury danych wysokiego#}
{#                poziomu i proste, ale skuteczne podejście do programowania obiektowego. Łatwa składnia i dynamiczne#}
{#                pisanie w Pythonie wraz z jego zinterpretowaną naturą sprawiają, że jest to idealny język do pisania#}
{#                skryptów i szybkiego tworzenia aplikacji w wielu obszarach na większości platform.#}
{#            </h5>#}
            <h5>Podczas kursu nauczysz się zarówno postaw jak i zaawansowanych technik programowania w Pythonie. Dzięki
                platformie interaktywnej będziesz rozwiązywał setki zadań i testów, korzystając przy tym z obszernych
                materiałów naukowych.
            </h5>
              <h5><strong>Zastanawiasz się czy ten kurs jest włąśnie dla Ciebie?</strong>
              </h5>
              <p></p>
              <img src="media/profile_pics/cro_code_line.jpg" title="Photo corCode_Line" alt="Crocodile" width="700" height="300"/>
              <p></p>
            <h5>Program nauczania zawiera wszystkie dostępne biblioteki standardowe Python.
                Na naszym portalu możesz utrwalać swoją wiedzę, rozwiązując zadania na ogólnodostępnej
                platformie wymieniając się doświadczniem z innymi pasjonatami programowania na czacie.
            </h5>
            <h5>W ramach kursu poznasz rownież inne techniki programowania, w tym:
                <ul>
                    <li>Python</li>
                    <li>HTML5</li>
                    <li>CSS</li>
                    <li>Java Script</li>
                    <li>JQuery</li>
                </ul>
            </h5>
            <h5>
                <a class="btn-outline-info" href="{% url 'start-code' %}">Sprawdź program nauczania i wybierz najbardziej odpowiednią ścieżkę dla siebie...</a>
            </h5>
                </div>
                </div>
                  </div>
              </div>
          {% endblock %}

{#        <div class="col-md-4">#}
{#          <div class="content-section">#}
{#            <h3>Our Sidebar</h3>#}
{#            <p class='text-muted'>You can put any information here you'd like.#}
{#              <ul class="list-group">#}
{#                <li class="list-group-item list-group-item-light">Latest Posts</li>#}
{#                <li class="list-group-item list-group-item-light">Announcements</li>#}
{#                <li class="list-group-item list-group-item-light">Calendars</li>#}
{#                <li class="list-group-item list-group-item-light">etc</li>#}
{#              </ul>#}
{#            </p>#}
{#          </div>#}
{#        </div>#}
    </main>
{#    <footer>#}
{#        <div class=" footer bg-steel">#}
{##}
{#            <p class="site-header">CHCESZ OTRZYMAĆ SZCZEGÓŁOWY PROGRAM NAUCZANIA?</p>#}
{#            <nav>#}
{#            <small class="mr-5">© 2019 croCode Line</small>#}
{#            <a class="mr-3 " href="#">Regulamin</a>#}
{#            <a class="mr-3" href="#">Polityka prywatności</a>#}
{#            </nav>#}
{#              <a class="btn-outline-info" href="#">Python</a> |#}
{#              <a class="btn-outline-info" href="#">HTML</a> |#}
{#              <a class="btn-outline-info" href="#">CSS</a> |#}
{#              <a class="btn-outline-info" href="#">JavaScript</a> |#}
{#              <a class="btn-outline-info" href="#">jQuery</a>#}
{#        </div>#}
{#    </footer>#}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>