{% extends 'code_app/base.html' %}

{% block content %}

<div class="card text-center">
  <div class="card-header">
    <strong>Python</strong>
  </div>
  <div class="card-body border-info">
    <h5 class="card-title btn-outline-info">Ideą przewodnią Pythona jest czytelność i klarowność kodu źródłowego.
        Jego składnia cechuje się przejrzystością i zwięzłością</h5>
    <p class="card-text">
        Python to łatwy do opanowania, potężny język programowania. Ma wydajne struktury danych wysokiego
        poziomu i proste, ale skuteczne podejście do programowania obiektowego. Łatwa składnia i dynamiczne
        pisanie w Pythonie wraz z jego zinterpretowaną naturą sprawiają, że jest to idealny język do pisania
        skryptów i szybkiego tworzenia aplikacji w wielu obszarach na większości platform.
    </p>
    <a href="{% url 'python-cours' %}" class="btn-s btn btn-outline-info"><strong>Start Code in Python</strong></a>
  </div>
</div>

<p></p>
<p></p>

<div class="card text-center">
  <div class="card-header">
    <strong>HTLM5</strong>
  </div>
  <div class="card-body border-info">
    <h5 class="card-title btn-outline-info">Język znaczników niezbędny dla każdego programisty</h5>
    <p class="card-text">
        Wykorzystywany do tworzenia i prezentowania stron i aplikacji internetowych www. Służy do opisania sposobu
        wyświetlania danego elementu na stronie lub do określenia sposobu wyświetlania samej strony.
    </p>
    <a href="{% url 'html-cours' %}" class="btn-s btn btn-outline-info"><strong>Start Code in HTLM5</strong></a>
  </div>
</div>

<p></p>
<p></p>

<div class="card text-center">
  <div class="card-header">
    <strong>CSS</strong>
  </div>
  <div class="card-body border-info">
    <h5 class="card-title btn-outline-info">Język służący do opisu formy prezentacji (wyświetlania) stron i aplikacji www.</h5>
    <p class="card-text">
         Język służący do opisu formy prezentacji (wyświetlania) stron i aplikacji WWW.
    </p>
    <a href="{% url 'css-cours' %}" class="btn-s btn btn-outline-info"><strong>Start Code in CSS</strong></a>
  </div>
</div>

<p></p>
<p></p>

<div class="card text-center">
  <div class="card-header">
    <strong>JavaScript</strong>
  </div>
  <div class="card-body border-info">
    <h5 class="card-title btn-outline-info">Język służący do opisu formy prezentacji (wyświetlania) stron i aplikacji www.</h5>
    <p class="card-text">
        Skrypty Java Script służą najczęściej do zapewnienia interakcji poprzez reagowanie na zdarzenia,
        walidacji wprowadzanych danych w formularzach lub tworzenia złożonych efektów wizualnych
    </p>
    <a href="{% url 'javascript-cours' %}" class="btn-s btn btn-outline-info"><strong>Start Code in JavaScript</strong></a>
  </div>
</div>
<p></p>
<p></p>
<div class="card text-center">
  <div class="card-header">
    <strong>JQuery</strong>
  </div>
  <div class="card-body border-info">
    <h5 class="card-title btn-outline-info">Najczęściej używana biblioteka programistyczna ułatwiająca tworzenie skryptów w Java Script</h5>
    <p class="card-text">
        Pozwala osiągnąć efekty animacji na stronach i w aplikacjach, dodać dynamiczne zmiany wyświetleń,
        analizować aktywność użytkownika, wykonać zapytania AJAX i wiele innych...
    </p>
    <a href="{% url 'jquery-cours' %}" class="btn-s btn btn-outline-info"><strong>Start Code in JQuery</strong></a>
  </div>
</div>

{% endblock content %}


