{% extends 'code_app/base.html' %}

{% block content %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="/media/profile_pics/css_logo.png" title="HTML5_logo" alt="HTML"/>
            <div class="media-body">
                <h3 class="article-title"><b>CSS</b></h3>
                <p class="article-content">
                    <h6 class="article-title"><b>PROGRAM KURSU:</b></h6>
                </p>
            </div>
                <a href="{% url 'python-cours' %}" class="btn-s btn btn-outline-info">
                    <strong>Start Code in CSS</strong>
                </a>
    </article>

    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Reguły wartości i właściwości
            <span class="badge badge-primary badge-pill">14</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Określanie kolorów
            <span class="badge badge-primary badge-pill">2</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Test, czcionka
            <span class="badge badge-primary badge-pill">1</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Model pudełkowy
            <span class="badge badge-primary badge-pill">2</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Listy, tabele i formularze
            <span class="badge badge-primary badge-pill">1</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Kontola układu i położenia elementów
            <span class="badge badge-primary badge-pill">9</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Obrazy
            <span class="badge badge-primary badge-pill">6</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Układ w HTML5
            <span class="badge badge-primary badge-pill">3</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Proces i projekt
            <span class="badge badge-primary badge-pill">1</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Optymalizacja i informacje praktyczne
            <span class="badge badge-primary badge-pill">1</span>
        </li>
    </ul>

{% endblock content %}