{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.2/ace.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'code_app/code_main.css' %}">
{##}
{#      <!-- Required meta tags -->#}
{#  <meta charset="utf-8">#}
{#  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">#}
{##}
{#  <!-- Bootstrap CSS -->#}
{#  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">#}
  <title>croCode Line</title>
</head>

<body>
    {% if messages  %}
        <div class="box-alert col-md-8">
            {% for message in messages %}
                <div class="box-alert">
                    <span class="closebtn" onclick="this.parentElement.parentElement.style.display='none';">&times;</span>
                        <p class="communcat">{{ message }}</p>
                </div>
{#              <div class="alert alert-{{ message.tags }}">#}
{#                {{ message }}#}
{#              </div>#}
            {% endfor %}
        </div>
    {% endif %}
    <div id="container">
        <div id="editor">
        </div>
        <div id="lesson">
            <h2>Przeczytaj dokładnie zadanie i rozwiąż je w lewym oknie:</h2><br>
            <p>{{ exercise.description }}</p><br>
            <div id="wytyczne">
            <p><strong>Wskazówki:</strong></p>
            <ul>
                <li>Stosuj się do powyższych wskazówek</li>
                <li>Pamiętaj, aby zmienne nazywać tak jak w treści zadania</li>
                <li>Używaj takich metod jakie nakazuje treść zadania</li>
                <li>System pozwala na wszelkie możliwości rozwiązania zadań pod warunkiem, że stosujesz się do wytycznych</li>
            </ul>
                </div>
        </div>
    </div>
        <form method="POST">
            <button type="submit" class="btn-run">Run</button>
{#            <button type="button" class="btn-next"><a class="line" href="{% url 'python222' previous_exercise.pk  %}">Poprzednie zadanie</a></button>#}
{#            <button type="button" class="btn-next"><a class="line" href="{% url 'python222' next_exercise.pk  %}">Następne zadanie</a></button>#}
            {% csrf_token %}
            <textarea id="answer" name="answer" style="display:none;"></textarea>
        </form>
     <iframe id='iframe' frameBorder="0">{{ answer }}
        </iframe>


<script src="{% static 'code_app/python_editor_box.js' %}"></script>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
{#<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>#}
{#<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>#}
</body>
</html>