{% extends 'code_app/base.html' %}
{% block content %}
    <br>
    <article class="media content-section background-boxes">
        <img class="rounded-circle article-img" src="/media/profile_pics/python_logo2.png" title="Python_logo" alt="Python"/>
            <div class="media-body">
                <h3 class="article-title"><strong>Python</strong></h3>
                <p class="article-content">
                    <h6 class="article-title"><b>PROGRAM KURSU:</b></h6>
                </p>
            </div>
                <a href="{% url 'python-exercise' last_exercise.id %}" class="btn-s btn btn-outline-info">
                    <strong>Start Code in Python</strong>
                </a>
    </article>
        <ul class="list-group">
            {% for i in form %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ i.section }}
                    <span class="badge badge-primary badge-pill">
                        {{ i.section_id.all.count }}
                    </span>
                </li>
            {% endfor %}
        </ul><br>
        <a href="{% url 'start-code' %}" class="btn-s btn btn-outline-info">
           <strong>Sprawdź inne języki</strong>
        </a>
        <br>
{% endblock content %}

