{% extends 'code_app/base.html' %}

{% block content %}

<div class="card text-center">
  <div class="card-header">
    <strong>Python</strong>
  </div>
  <div class="card-body border-info">
    <h5 class="card-title">Ideą przewodnią Pythona jest czytelność i klarowność kodu źródłowego.
        Jego składnia cechuje się przejrzystością i zwięzłością</h5>
    <p class="card-text">
        Python to łatwy do opanowania, potężny język programowania. Ma wydajne struktury danych wysokiego
        poziomu i proste, ale skuteczne podejście do programowania obiektowego. Łatwa składnia i dynamiczne
        pisanie w Pythonie wraz z jego zinterpretowaną naturą sprawiają, że jest to idealny język do pisania
        skryptów i szybkiego tworzenia aplikacji w wielu obszarach na większości platform.
    </p>
    <a href="#" class="btn-s btn btn-outline-info"><strong>Python</strong></a>
  </div>
</div>

<p></p>
<p></p>

<div class="card text-center">
  <div class="card-header">
    <strong>HTLM5</strong>
  </div>
  <div class="card-body border-info">
    <h5 class="card-title">Język znaczników niezbędny dla każdego programisty</h5>
    <p class="card-text">
        Wykorzystywany do tworzenia i prezentowania stron i aplikacji internetowych www
    </p>
    <a href="#" class="btn-s btn btn-outline-info"><strong>HTLM5</strong></a>
  </div>
</div>

<p></p>
<p></p>

<div class="card text-center">
  <div class="card-header">
    <strong>CSS</strong>
  </div>
  <div class="card-body border-info">
    <h5 class="card-title">Język służący do opisu formy prezentacji (wyświetlania) stron i aplikacji www.</h5>
    <p class="card-text">
        Skrypty Java Script służą najczęściej do zapewnienia interakcji poprzez reagowanie na zdarzenia,
        walidacji wprowadzanych danych w formularzach lub tworzenia złożonych efektów wizualnych
    </p>
    <a href="#" class="btn-s btn btn-outline-info"><strong>CSS</strong></a>
  </div>
</div>

<p></p>
<p></p>

<div class="card text-center">
  <div class="card-header">
    <strong>JavaScript</strong>
  </div>
  <div class="card-body border-info">
    <h5 class="card-title">Język służący do opisu formy prezentacji (wyświetlania) stron i aplikacji www.</h5>
    <p class="card-text">
        Skrypty Java Script służą najczęściej do zapewnienia interakcji poprzez reagowanie na zdarzenia,
        walidacji wprowadzanych danych w formularzach lub tworzenia złożonych efektów wizualnych
    </p>
    <a href="#" class="btn-s btn btn-outline-info"><strong>JavaScript</strong></a>
  </div>
</div>
<p></p>
<p></p>
<div class="card text-center">
  <div class="card-header">
    <strong>JQuery</strong>
  </div>
  <div class="card-body border-info">
    <h5 class="card-title">Najczęściej używana biblioteka programistyczna ułatwiająca tworzenie skryptów w Java Script</h5>
    <p class="card-text">
        Pozwala osiągnąć efekty animacji na stronach i w aplikacjach, dodać dynamiczne zmiany wyświetleń,
        analizować aktywność użytkownika, wykonać zapytania AJAX i wiele innych...
    </p>
    <a href="#" class="btn-s btn btn-outline-info"><strong>JQuery</strong></a>
  </div>
</div>

{% endblock content %}



{#    <button class="btn btn-outline-info" type="submit">HTLM5</button>#}
{#    <button class="btn btn-outline-info" type="submit">CSS</button>#}
{#    <button class="btn btn-outline-info" type="submit">Java Script</button>#}
{#    <button class="btn btn-outline-info" type="submit">JQuery</button>#}



{# <div class="content-section col-md-offset-3">#}
{#        <button class="btn-s btn btn-outline-info"><strong>Python</strong><br></button>#}
{#    </div>#}
{#        <div class="content-section col-md-offset-3">#}
{#        <button class="btn-s btn btn-outline-info"><strong>HTLM5</strong><br></button>#}
{#            <p class="text-center">#}
{#                Język znaczników niezbędny dla każdego programisty.Wykorzystywany do tworzenia i prezentowania stron#}
{#                i aplikacji internetowych www#}
{#            </p>#}
{#    </div>#}