{% extends 'code_app/base.html' %}

{% block content %}
<h1></h1>
    <div class="content-section col-md-2 btn-s">
    <p>aaaaaaaaa</p>
        <button class="btn-s btn btn-outline-info"><strong>Python</strong><br>Sprawdż szczegóły kursu</button>
<p>gggggggg</p>
    </div>
    <p>dddddddddddddd</p>
        <div class="content-section col-md-2 btn-s">
        <button class="btn-s btn btn-outline-info"><strong>HTLM5</strong><br>Sprawdż szczegóły kursu</button>
    </div>
        <div class="content-section col-md-2 btn-s">
        <button class="btn-s btn btn-outline-info"><strong>CSS</strong><br>Sprawdż szczegóły kursu</button>
    </div>
        <div class="content-section col-md-2 btn-s">
        <button class="btn-s btn btn-outline-info"><strong>Java Script</strong><br>Sprawdż szczegóły kursu</button>
    </div>
        <div class="content-section col-md-2 btn-s">
        <button class="btn-s btn btn-outline-info"><strong>JQuery</strong><br>Sprawdż szczegóły kursu</button>
    </div>
{% endblock content %}



{#    <button class="btn btn-outline-info" type="submit">HTLM5</button>#}
{#    <button class="btn btn-outline-info" type="submit">CSS</button>#}
{#    <button class="btn btn-outline-info" type="submit">Java Script</button>#}
{#    <button class="btn btn-outline-info" type="submit">JQuery</button>#}